body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


header {
  background-color: #1f2937;
}

.container {
 margin: auto;
 max-width: 1100px;
 overflow: auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
  margin-left: 16px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-right: 16px;
}

li {
  list-style-type: none;
}

a {
  color: #bcbfc4;
  font-size: 18px;
  text-decoration: none;
}

#hero {
  background-color: #1f2937;
  height: 60vh;
}

.hero-content {
  display: flex;
  gap: 5%;
  padding-left: 16px;
  padding-right: 16px;
}

#hero {
  display: flex;
  justify-content: space-between;
}

.hero-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#dog-image {
  width: 500px;
  border-radius: 8px;
}

.hero-button {
width: 120px;
height: 40px;
border-radius: 8px;
color: #F9FAF8;
font-size: 18px;
font-weight: 600;
background-color: #3882f6;
border: none;
margin: 0;
}


h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

.random-content {
  height: 60vh;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

p {
  color: #bcbfc4;
  font-size: 18px;
  margin: 0;
}

.box {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.box-text {
  text-align: center;
}

.box-outline {
  width: 150px;
  height: 160px;
  border: 5px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 16px;
}

.box-row {
  display: flex;
  justify-content: center;

}