body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


header {
  background-color: #1f2937;
}

.container {
 margin: auto;
 max-width: 1100px;
 overflow: auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
  margin-left: 16px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-right: 16px;
}

li {
  list-style-type: none;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}